/* variables*/
	:root {
  --btn-color : rgba(247,229,69);
  --black-color: rgba(0,0,0,0.8);;
}
/*global style*/
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
body{
	font-family: 'Roboto', sans-serif;
			background-image: url('../img/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
h1{
	font-size: 72px;
	font-weight: 100;
	text-align: center;
	letter-spacing: 0.05em;
}
h2{
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 36px;
	text-align: center;
	letter-spacing: 0.05em;
}
section{
	display: grid;
	align-items: center;
	justify-content: center;
	text-align: center;
	grid-template-columns: 1fr 3fr;
}
.container{

	width: 100%;
	height: 100%;
	display: grid;
	position: relative;
    align-items: center
    justify-content: center;
}
.info_box{
	background-color: rgba(0,0,0,0.4);
	display: flex;
	padding: 8px;
	align-self:stretch;

}
.user_info_img img{
	border-radius: 50%;
}
.user_info_box{
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	font-weight: 300;
}
.user_info_img{
	padding: 20px;
}
.user_info_text{
	padding: 10px 27px 0 51px;
	text-align: left;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 17px;
	letter-spacing: 0.05em;
}

.main_box{
	padding: 105px;
}
.btn{
	outline: none;
	border-radius: 20px;
	border:none;
	cursor: pointer;
	transition:0.3s;
}
.btn_download{
	background-color: var(--black-color);
	color:white;
	font-size: 22px;
	padding: 12px 32px;
	-webkit-box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	border: 1px solid var(--black-color);
	font-weight: 400;
	margin: 20px 0 ;

}
.btn_download a{
	color:white;
}
.btn_download:hover{
	background-color: var(--btn-color);
	border: 1px solid white;
}
.main_box header{
	padding: 50px;
}
.social_nav{
	margin: 0 auto;
	padding: 20px 50px;
}
.social_icon{
	font-size: 4.5em;
	background-color: transparent;
	color:black;
}
.social_icon a>i{
		transition:0.3s;
	    color: var(--black-color);
}
.social_icon a:hover > i{
	color: var(--btn-color);
}
